n8n/workflow-1-nightly-grant-import.json
{
  "name": "Workflow 1: Nightly Grant Import",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Every Night 2AM UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://data.threesixtygiving.org/data.json",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Fetch 360Giving Index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// 360Giving data.json is an array of publisher objects.\n// Each publisher has a 'distribution' array with downloadURL entries.\n// We only want JSON datasets (skip XLSX/CSV for simplicity).\n\nconst datasets = $input.first().json;\n\nif (!Array.isArray(datasets)) {\n  throw new Error('Unexpected 360Giving data format — expected array');\n}\n\nconst urls = [];\n\nfor (const publisher of datasets) {\n  const distributions = publisher.distribution || [];\n  for (const dist of distributions) {\n    if (\n      dist.downloadURL &&\n      (dist.mediaType === 'application/json' ||\n       dist.downloadURL.endsWith('.json'))\n    ) {\n      urls.push({\n        json: {\n          url: dist.downloadURL,\n          publisher: publisher.title || 'Unknown',\n          publisherId: publisher.identifier || ''\n        }\n      });\n    }\n  }\n}\n\nconsole.log(`Found ${urls.length} JSON datasets to import`);\nreturn urls;\n"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Extract JSON Dataset URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Loop Over Datasets",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Download Dataset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1140, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse a 360Giving JSON dataset into normalised grant rows\n// for upsert into our 'grants' table.\n//\n// 360Giving grants have fields like:\n//   id, title, description, currency, amountAwarded,\n//   plannedDates.endDate, fundingOrganization[0].name\n//\n// We map them to our schema:\n//   source_id, title, description, funder, max_award,\n//   deadline, geographic_focus, is_active, url\n\nconst raw = $input.first().json;\n\n// The dataset may be the array directly, or wrapped in a 'grants' key\nlet grants = [];\nif (Array.isArray(raw)) {\n  grants = raw;\n} else if (raw && Array.isArray(raw.grants)) {\n  grants = raw.grants;\n} else {\n  // Empty or unexpected format — skip\n  return [];\n}\n\nconst rows = [];\n\nfor (const g of grants) {\n  try {\n    const funder =\n      (g.fundingOrganization && g.fundingOrganization[0]?.name) ||\n      $('Loop Over Datasets').item.json.publisher ||\n      'Unknown Funder';\n\n    const deadline =\n      (g.plannedDates && g.plannedDates[0]?.endDate) ||\n      (g.plannedDates && g.plannedDates.endDate) ||\n      null;\n\n    const maxAward =\n      typeof g.amountAwarded === 'number'\n        ? g.amountAwarded\n        : typeof g.amountAppliedFor === 'number'\n        ? g.amountAppliedFor\n        : null;\n\n    if (!g.id || !g.title) continue;\n\n    rows.push({\n      json: {\n        source_id:        g.id,\n        title:            (g.title || '').substring(0, 255),\n        description:      (g.description || '').substring(0, 2000),\n        funder:           funder.substring(0, 255),\n        max_award:        maxAward,\n        currency:         g.currency || 'GBP',\n        deadline:         deadline || null,\n        geographic_focus: 'England',\n        is_active:        deadline ? new Date(deadline) > new Date() : true,\n        url:              g.dataSource || null,\n        source:           '360giving'\n      }\n    });\n  } catch (err) {\n    // Skip malformed entries\n  }\n}\n\nconsole.log(`Parsed ${rows.length} grants from dataset`);\nreturn rows;\n"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Parse & Clean Grants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO grants (\n  source_id, title, description, funder, max_award,\n  currency, deadline, geographic_focus, is_active, url, source\n)\nVALUES (\n  {{ $json.source_id }},\n  {{ $json.title }},\n  {{ $json.description }},\n  {{ $json.funder }},\n  {{ $json.max_award }},\n  {{ $json.currency }},\n  {{ $json.deadline }},\n  {{ $json.geographic_focus }},\n  {{ $json.is_active }},\n  {{ $json.url }},\n  {{ $json.source }}\n)\nON CONFLICT (source_id) DO UPDATE SET\n  title           = EXCLUDED.title,\n  description     = EXCLUDED.description,\n  funder          = EXCLUDED.funder,\n  max_award       = EXCLUDED.max_award,\n  deadline        = EXCLUDED.deadline,\n  is_active       = EXCLUDED.is_active,\n  url             = EXCLUDED.url,\n  updated_at      = NOW()\nRETURNING id, (xmax = 0) AS inserted;",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Upsert Grants to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1580, 200],
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "FundsRadar DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE grants\nSET is_active = false, updated_at = NOW()\nWHERE deadline IS NOT NULL\n  AND deadline < NOW()\n  AND is_active = true\nRETURNING id;",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Mark Expired Grants Inactive",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1140, 440],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "FundsRadar DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT COUNT(*) FROM grants WHERE source = '360giving' AND DATE(updated_at) = CURRENT_DATE AND created_at = updated_at) AS added,\n  (SELECT COUNT(*) FROM grants WHERE source = '360giving' AND DATE(updated_at) = CURRENT_DATE AND created_at != updated_at) AS updated,\n  (SELECT COUNT(*) FROM grants WHERE is_active = false AND DATE(updated_at) = CURRENT_DATE) AS expired,\n  (SELECT COUNT(*) FROM grants WHERE is_active = true) AS total_active;",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Get Import Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1360, 440],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "FundsRadar DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $vars.BREVO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"sender\": { \"name\": \"FundsRadar System\", \"email\": \"system@fundsradar.co\" },\n  \"to\": [{ \"email\": \"admin@fundsradar.co\", \"name\": \"Admin\" }],\n  \"subject\": \"Nightly Grant Import Complete — {{ new Date().toISOString().split('T')[0] }}\",\n  \"htmlContent\": \"<h2>360Giving Import Summary</h2><table style='border-collapse:collapse;font-family:sans-serif'><tr><td style='padding:8px 16px;background:#f4f6f5;font-weight:bold'>Grants Added</td><td style='padding:8px 16px'>{{ $json.added }}</td></tr><tr><td style='padding:8px 16px;background:#f4f6f5;font-weight:bold'>Grants Updated</td><td style='padding:8px 16px'>{{ $json.updated }}</td></tr><tr><td style='padding:8px 16px;background:#f4f6f5;font-weight:bold'>Grants Expired</td><td style='padding:8px 16px'>{{ $json.expired }}</td></tr><tr><td style='padding:8px 16px;background:#f4f6f5;font-weight:bold'>Total Active</td><td style='padding:8px 16px'>{{ $json.total_active }}</td></tr></table>\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Email Admin Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1580, 440]
    }
  ],
  "connections": {
    "Every Night 2AM UTC": {
      "main": [
        [{ "node": "Fetch 360Giving Index", "type": "main", "index": 0 }]
      ]
    },
    "Fetch 360Giving Index": {
      "main": [
        [{ "node": "Extract JSON Dataset URLs", "type": "main", "index": 0 }]
      ]
    },
    "Extract JSON Dataset URLs": {
      "main": [
        [{ "node": "Loop Over Datasets", "type": "main", "index": 0 }]
      ]
    },
    "Loop Over Datasets": {
      "main": [
        [{ "node": "Download Dataset", "type": "main", "index": 0 }],
        [{ "node": "Mark Expired Grants Inactive", "type": "main", "index": 0 }]
      ]
    },
    "Download Dataset": {
      "main": [
        [{ "node": "Parse & Clean Grants", "type": "main", "index": 0 }]
      ]
    },
    "Parse & Clean Grants": {
      "main": [
        [{ "node": "Upsert Grants to DB", "type": "main", "index": 0 }]
      ]
    },
    "Upsert Grants to DB": {
      "main": [
        [{ "node": "Loop Over Datasets", "type": "main", "index": 0 }]
      ]
    },
    "Mark Expired Grants Inactive": {
      "main": [
        [{ "node": "Get Import Stats", "type": "main", "index": 0 }]
      ]
    },
    "Get Import Stats": {
      "main": [
        [{ "node": "Email Admin Summary", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "a1b2c3d4-0001-0001-0001-aaaaaaaaaaaa",
  "id": "workflow-001-nightly-grant-import",
  "tags": [{ "name": "fundsradar" }, { "name": "scheduled" }]
}
