n8n/workflow-4-upgrade-trigger.json
{
  "name": "Workflow 4: Upgrade Trigger Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upgrade-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000001",
      "name": "Webhook: Grant Gate Hit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "upgrade-trigger"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {}
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000001b",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [480, 160]
    },
    {
      "parameters": {
        "jsCode": "// Validate payload from FundsRadar.\n// Expected:\n// {\n//   userId:    string,\n//   email:     string,\n//   orgName:   string,\n//   grantId:   string,\n//   grantTitle: string,\n//   grantFunder: string\n// }\n\nconst body = $input.first().json.body || $input.first().json;\n\nif (!body.userId || !body.email) {\n  throw new Error('Missing userId or email in payload');\n}\n\nreturn [{ json: {\n  userId:      body.userId,\n  email:       body.email,\n  orgName:     body.orgName     || 'there',\n  grantId:     body.grantId     || null,\n  grantTitle:  body.grantTitle  || 'a grant',\n  grantFunder: body.grantFunder || ''\n} }];\n"
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000002",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 340]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000003",
      "name": "Wait 1 Hour",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [700, 340]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT plan FROM profiles WHERE id = $1 LIMIT 1;",
        "additionalFields": {
          "queryParams": "={{ [$json.userId] }}"
        }
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000004",
      "name": "Check Current Plan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [920, 340],
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "FundsRadar DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "check-free-plan",
              "leftValue": "={{ $json.plan }}",
              "rightValue": "free",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000005",
      "name": "Still on Free Plan?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 340]
    },
    {
      "parameters": {
        "jsCode": "// Build personalised upgrade nudge email.\n// References the specific grant the user was trying to unlock.\n\nconst payload = $('Validate Payload').item.json;\n\nconst grantRef = payload.grantTitle\n  ? `<strong>${payload.grantTitle}</strong>${payload.grantFunder ? ` from ${payload.grantFunder}` : ''}`\n  : 'a grant';\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"></head>\n<body style=\"font-family:'Segoe UI',Arial,sans-serif;background:#f4f6f5;margin:0;padding:24px\">\n  <div style=\"max-width:540px;margin:0 auto;background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.06)\">\n    <div style=\"background:#0F4C35;padding:28px 36px;text-align:center\">\n      <div style=\"font-size:36px;margin-bottom:8px\">🔒</div>\n      <h1 style=\"color:#ffffff;font-size:20px;margin:0\">You keep looking at that grant</h1>\n    </div>\n    <div style=\"padding:32px 36px\">\n      <p style=\"color:#374151;font-size:15px\">Hi ${payload.orgName},</p>\n      <p style=\"color:#374151;font-size:15px\">\n        We noticed you tried to unlock ${grantRef}. That tells us it's a grant worth going for.\n      </p>\n      <p style=\"color:#374151;font-size:15px\">\n        FundsRadar Pro unlocks everything — full funder details, direct application links, deadline alerts, and our AI application writer:\n      </p>\n      <div style=\"background:#f9fafb;border-radius:12px;padding:20px 24px;margin:20px 0\">\n        <ul style=\"margin:0;padding:0;list-style:none;space-y:8px\">\n          ${[\n            '✅ Unlock every matched grant (full details + apply link)',\n            '✍️ AI application writer — draft answers question by question',\n            '⏰ Deadline alert emails at 30 / 14 / 7 / 1 days',\n            '📊 Pipeline kanban board to track every application',\n            '🔄 Re-run AI matching any time you update your profile'\n          ].map(f => `<li style=\"color:#374151;font-size:14px;padding:6px 0;border-bottom:1px solid #e5e7eb\">${f}</li>`).join('')}\n        </ul>\n      </div>\n      <div style=\"background:#FEF3C7;border-left:4px solid #F59E0B;border-radius:0 8px 8px 0;padding:14px 18px;margin:20px 0\">\n        <p style=\"margin:0;color:#92400E;font-size:14px\"><strong>Pro is £49/month</strong> — less than one successful grant will return in weeks. Annual plans save 20%.</p>\n      </div>\n      <div style=\"text-align:center;margin:28px 0\">\n        <a href=\"https://fundsradar.co/pricing\" style=\"display:inline-block;background:#0F4C35;color:#ffffff;font-weight:bold;padding:14px 36px;border-radius:10px;text-decoration:none;font-size:16px\">Unlock My Grants — View Pricing →</a>\n      </div>\n      <p style=\"color:#6b7280;font-size:13px;text-align:center\">\n        Questions? Reply to this email or chat with us at <a href=\"https://fundsradar.co\" style=\"color:#0F4C35\">fundsradar.co</a>\n      </p>\n      <p style=\"color:#d1d5db;font-size:12px;text-align:center;margin-top:20px\">\n        <a href=\"https://fundsradar.co/settings\" style=\"color:#d1d5db\">Unsubscribe from marketing emails</a>\n      </p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    to:      payload.email,\n    orgName: payload.orgName,\n    subject: `You keep looking at one grant — want to unlock it?`,\n    html\n  }\n}];\n"
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000006",
      "name": "Build Upgrade Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $vars.BREVO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"sender\":      { \"name\": \"FundsRadar\", \"email\": \"hello@fundsradar.co\" },\n  \"to\":          [{ \"email\": \"{{ $json.to }}\", \"name\": \"{{ $json.orgName }}\" }],\n  \"subject\":     \"{{ $json.subject }}\",\n  \"htmlContent\": {{ JSON.stringify($json.html) }}\n}",
        "options": {}
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000007",
      "name": "Send Upgrade Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1580, 220]
    },
    {
      "parameters": {
        "jsCode": "// User has already upgraded — stop workflow silently.\nconsole.log('User already upgraded — skipping upgrade email.');\nreturn [];\n"
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000008",
      "name": "Already Upgraded — Stop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 460]
    }
  ],
  "connections": {
    "Webhook: Grant Gate Hit": {
      "main": [
        [
          { "node": "Respond 200 OK",   "type": "main", "index": 0 },
          { "node": "Validate Payload", "type": "main", "index": 0 }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [{ "node": "Wait 1 Hour", "type": "main", "index": 0 }]
      ]
    },
    "Wait 1 Hour": {
      "main": [
        [{ "node": "Check Current Plan", "type": "main", "index": 0 }]
      ]
    },
    "Check Current Plan": {
      "main": [
        [{ "node": "Still on Free Plan?", "type": "main", "index": 0 }]
      ]
    },
    "Still on Free Plan?": {
      "main": [
        [{ "node": "Build Upgrade Email",      "type": "main", "index": 0 }],
        [{ "node": "Already Upgraded — Stop",  "type": "main", "index": 0 }]
      ]
    },
    "Build Upgrade Email": {
      "main": [
        [{ "node": "Send Upgrade Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "a4b5c6d7-0004-0004-0004-aaaaaaaaaaaa",
  "id": "workflow-004-upgrade-trigger",
  "tags": [{ "name": "fundsradar" }, { "name": "webhook" }]
}
