n8n/workflow-5-weekly-trust-score.json
{
  "name": "Workflow 5: Weekly Trust Score Update",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * 0"
            }
          ]
        }
      },
      "id": "a5b6c7d8-0005-0005-0005-000000000001",
      "name": "Every Sunday Midnight UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  o.id         AS org_id,\n  o.user_id,\n  o.name       AS org_name,\n  p.email,\n  p.plan,\n  -- Previous week's score (for delta calculation)\n  (\n    SELECT total_score\n    FROM trust_score_history\n    WHERE org_id = o.id\n      AND created_at < NOW() - INTERVAL '6 days'\n    ORDER BY created_at DESC\n    LIMIT 1\n  ) AS prev_score\nFROM organisations o\nJOIN profiles p ON p.id = o.user_id\nWHERE p.plan != 'cancelled'\n  AND p.email IS NOT NULL\nORDER BY o.id;",
        "additionalFields": {}
      },
      "id": "a5b6c7d8-0005-0005-0005-000000000002",
      "name": "Get All Active Charities",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "7fqbMqLbhVdvyM7u",
          "name": "FundsRadar DB"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a5b6c7d8-0005-0005-0005-000000000003",
      "name": "Loop Over Charities",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fundsradar.co/api/trust-score/calculate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-secret",
              "value": "={{ $env.INTERNAL_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"orgId\": \"{{ $json.org_id }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a5b6c7d8-0005-0005-0005-000000000004",
      "name": "Recalculate Trust Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [920, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  total_score,\n  governance_score,\n  financial_score,\n  document_score,\n  track_record_score,\n  application_score,\n  improvements\nFROM trust_score_history\nWHERE org_id = $1\nORDER BY created_at DESC\nLIMIT 1;",
        "additionalFields": {
          "queryParams": "={{ [$('Loop Over Charities').item.json.org_id] }}"
        }
      },
      "id": "a5b6c7d8-0005-0005-0005-000000000005",
      "name": "Get New Trust Score",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1140, 200],
      "credentials": {
        "postgres": {
          "id": "7fqbMqLbhVdvyM7u",
          "name": "FundsRadar DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build the weekly Trust Score email.\n\nconst score    = $input.first().json;\nconst charity  = $('Loop Over Charities').item.json;\n\nconst currentScore = score.total_score   || 0;\nconst prevScore    = charity.prev_score  || null;\nconst delta        = prevScore !== null ? currentScore - prevScore : null;\n\nconst improvements = (() => {\n  try {\n    const raw = score.improvements;\n    if (Array.isArray(raw)) return raw;\n    if (typeof raw === 'string') return JSON.parse(raw);\n    return [];\n  } catch { return []; }\n})();\n\n// Score colour\nconst scoreColor =\n  currentScore >= 70 ? '#0F4C35' :\n  currentScore >= 40 ? '#B45309' :\n  '#991B1B';\n\nconst scoreLabel =\n  currentScore >= 70 ? 'Strong' :\n  currentScore >= 40 ? 'Building' :\n  'Needs attention';\n\n// Delta badge\nconst deltaBadge = (() => {\n  if (delta === null) return '';\n  if (delta > 0)  return `<span style=\"color:#059669;font-size:14px\">▲ +${delta} pts this week</span>`;\n  if (delta < 0)  return `<span style=\"color:#DC2626;font-size:14px\">▼ ${delta} pts this week</span>`;\n  return `<span style=\"color:#6B7280;font-size:14px\">No change this week</span>`;\n})();\n\n// Sub-score bars\nconst subScores = [\n  { label: 'Governance',   value: score.governance_score   || 0, max: 30 },\n  { label: 'Financial',    value: score.financial_score    || 0, max: 20 },\n  { label: 'Documents',    value: score.document_score     || 0, max: 20 },\n  { label: 'Track Record', value: score.track_record_score || 0, max: 20 },\n  { label: 'Applications', value: score.application_score  || 0, max: 10 }\n];\n\nconst barRows = subScores.map(s => {\n  const pct = s.max > 0 ? Math.round((s.value / s.max) * 100) : 0;\n  return `\n    <tr>\n      <td style=\"padding:6px 0;font-size:13px;color:#374151;width:120px\">${s.label}</td>\n      <td style=\"padding:6px 8px\">\n        <div style=\"background:#e5e7eb;border-radius:4px;height:8px;overflow:hidden\">\n          <div style=\"background:${scoreColor};height:8px;width:${pct}%;border-radius:4px\"></div>\n        </div>\n      </td>\n      <td style=\"padding:6px 0;font-size:13px;color:#6B7280;text-align:right;white-space:nowrap\">${s.value}/${s.max}</td>\n    </tr>\n  `;\n}).join('');\n\nconst improvementsList = improvements.slice(0, 3).map(imp =>\n  `<li style=\"color:#374151;font-size:14px;padding:6px 0;border-bottom:1px solid #f3f4f6\">${imp}</li>`\n).join('');\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"></head>\n<body style=\"font-family:'Segoe UI',Arial,sans-serif;background:#f4f6f5;margin:0;padding:24px\">\n  <div style=\"max-width:560px;margin:0 auto;background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.06)\">\n    <div style=\"background:#0F4C35;padding:28px 36px\">\n      <h1 style=\"color:#ffffff;font-size:20px;margin:0\">Your Weekly Trust Score</h1>\n      <p style=\"color:rgba(255,255,255,0.7);font-size:14px;margin:6px 0 0\">${charity.org_name}</p>\n    </div>\n    <div style=\"padding:32px 36px\">\n      <!-- Score ring (text-based) -->\n      <div style=\"text-align:center;margin-bottom:28px\">\n        <div style=\"display:inline-block;background:${scoreColor};color:#ffffff;border-radius:50%;width:100px;height:100px;line-height:100px;font-size:32px;font-weight:bold;margin:0 auto\">${currentScore}</div>\n        <p style=\"color:${scoreColor};font-weight:bold;margin:10px 0 4px\">${scoreLabel}</p>\n        ${deltaBadge}\n      </div>\n      <!-- Sub-score breakdown -->\n      <h3 style=\"color:#0D1117;font-size:15px;margin:0 0 12px\">Score Breakdown</h3>\n      <table style=\"width:100%;border-collapse:collapse;margin-bottom:24px\">\n        <tbody>${barRows}</tbody>\n      </table>\n      <!-- Improvement actions -->\n      ${improvements.length > 0 ? `\n        <h3 style=\"color:#0D1117;font-size:15px;margin:0 0 12px\">Top Actions This Week</h3>\n        <ul style=\"margin:0;padding:0;list-style:none\">\n          ${improvementsList}\n        </ul>\n      ` : '<p style=\"color:#059669;font-size:14px\">🎉 No improvements needed — great work!</p>'}\n      <div style=\"text-align:center;margin:28px 0\">\n        <a href=\"https://fundsradar.co/dashboard\" style=\"display:inline-block;background:#0F4C35;color:#ffffff;font-weight:bold;padding:14px 32px;border-radius:10px;text-decoration:none;font-size:15px\">Improve My Score →</a>\n      </div>\n      <p style=\"color:#9ca3af;font-size:12px;text-align:center\">Sent every Sunday · <a href=\"https://fundsradar.co/settings\" style=\"color:#9ca3af\">Manage preferences</a></p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\n// Skip if score is 0 (org has no data yet)\nif (currentScore === 0 && improvements.length === 0) {\n  console.log(`Skipping email for ${charity.org_name} — no trust score data yet`);\n  return [];\n}\n\nreturn [{\n  json: {\n    to:      charity.email,\n    orgName: charity.org_name,\n    subject: `Your FundsRadar Trust Score this week: ${currentScore}/100`,\n    html\n  }\n}];\n"
      },
      "id": "a5b6c7d8-0005-0005-0005-000000000006",
      "name": "Build Trust Score Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.BREVO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"sender\":      { \"name\": \"FundsRadar\", \"email\": \"weekly@fundsradar.co\" },\n  \"to\":          [{ \"email\": \"{{ $json.to }}\", \"name\": \"{{ $json.orgName }}\" }],\n  \"subject\":     \"{{ $json.subject }}\",\n  \"htmlContent\": {{ JSON.stringify($json.html) }}\n}",
        "options": {}
      },
      "id": "a5b6c7d8-0005-0005-0005-000000000007",
      "name": "Send Trust Score Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1580, 200],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every Sunday Midnight UTC": {
      "main": [
        [{ "node": "Get All Active Charities", "type": "main", "index": 0 }]
      ]
    },
    "Get All Active Charities": {
      "main": [
        [{ "node": "Loop Over Charities", "type": "main", "index": 0 }]
      ]
    },
    "Loop Over Charities": {
      "main": [
        [{ "node": "Recalculate Trust Score", "type": "main", "index": 0 }],
        []
      ]
    },
    "Recalculate Trust Score": {
      "main": [
        [{ "node": "Get New Trust Score", "type": "main", "index": 0 }]
      ]
    },
    "Get New Trust Score": {
      "main": [
        [{ "node": "Build Trust Score Email", "type": "main", "index": 0 }]
      ]
    },
    "Build Trust Score Email": {
      "main": [
        [{ "node": "Send Trust Score Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Trust Score Email": {
      "main": [
        [{ "node": "Loop Over Charities", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "a5b6c7d8-0005-0005-0005-aaaaaaaaaaaa",
  "id": "workflow-005-weekly-trust-score",
  "tags": [{ "name": "fundsradar" }, { "name": "scheduled" }]
}
